body{
background-color:#ffff00 ;
background-image: url(122.png);
    
} 

h1{ 
  color:#c194ff;
}
 
h2{
    color: #c194ff ;
    font-size: 30px
}
h3{ 
  color:#c194ff;
}
h4{ 
  color:#c194ff;
}
h5{ 
  color:#c194ff;
}

p{
    color: #c194ff;
/*    width: 400px;*/
}
p1{
    
  color:#c194ff;

}